<li class="blue-text text-darken-4" style="font-weight:350;">Contents:</li>
                          <li><a class="blue-text text-darken-3" href="#introduction">Introduction</a></li>
                          <li><a class="blue-text text-darken-3" href="#machine-learning">Machine Learning</a></li>
                          <li><a class="blue-text text-darken-3" href="#electronic-records">Electronic Records</a></li>
                          <li><a class="blue-text text-darken-3" href="#telemedicine">Telemedicine</a></li>
                          <li><a class="blue-text text-darken-3" href="#security">Security</a></li>